<section class="post-meta">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished" class="post-date">
      <%= date(post.date, null) %>
  </time>
  <% if (post.tags && post.tags.length){ %>
  <% count = post.tags.length %>
  on <% post.tags.forEach(function(tag, index) { %>
  <a href='<%= url_for(tag.path) %>'><%= tag.name %></a><% if (count !== index+1) { %>,<% } %>
  <% }); %>
  <% } %>
</section>
